@media (max-width:1130px){
    .list-center{
        grid-template-columns: 370px 370px !important;
        grid-template-rows: repeat(2,auto);
        .news{
            padding-bottom: 1rem;
        }



        .sign-up{
            grid-column: 1/3;
            margin-top: 5rem;
        }
    }

    .center{
        .img{
            img{
                width: 85%;
                display: block;
                margin: 0 auto;
            }
        }
    }
}

@media (max-width:1090px){
    header{
        .img-logo{
            :first-child{
                width: 200px;
            }
            :last-child{
                width: 75%;
            }
        }
        
        nav{
            padding: 1rem;
            
            ul{
                column-gap: 0.3rem !important;
                padding-right: 0 !important;
                
                li{
                    font-size: 0.85rem;
                    text-align: center;
                }
            }
        }
    }

}

@media (max-width:950px){
    
        nav{
            position: relative;
            .chox{
                display: none !important;
            }
            .sidebar-display{
                left: 0;
            }
            .sidebar{
                display: flex !important;
                flex-direction: column !important;
                justify-content: space-around !important;
                height: 40px !important;
                
            }
            .burger{
                background-color: white !important;
                width: 37px;
                height: 8px;
                
                
            }
        }
        
    
        .ul-sidebar{
            display: flex !important;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 0.5rem;
            padding: 1rem;
            background-color: black;
            width: 100%;
            list-style-type: none;
            color: white;
           
        }
        .ul-sidebar-close{
            display: none !important;

        }

}


@media (max-width:767px){
    .img-logo{
        flex-direction: column;
        align-items: center;
    }

    main{
        .banner{
            grid-template-areas: "one""two""three""four""five""six" !important;
            grid-template-rows: repeat(6,400px) !important;
        }
    }

    .list-center{
        grid-template-columns: 1fr !important;
        grid-template-rows: repeat(3, auto) !important;
        padding: 1rem;

        .sign-up{
            grid-column: auto;
        }

        .analysis{
            margin-top: 8rem  !important;
            padding-bottom: 1rem;
        }
        .news{
            margin-top: 7rem  !important;
            padding-bottom: 1rem;
        }
        .sign-up{
            margin-top: 7rem;
        }
    }
}