@import "font";
@import "responsive";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "parastoo";
}
.container-size{
    max-width: 1280px;
    margin: 0 auto;
    // background-color: black;
}
header{
    background-color: black;
    // padding: 1rem;
}
.img-logo{
    padding:1rem;
    display: flex;
    justify-content: space-between;
    // background-color: blue;
    
    img{
        object-fit: contain;
    }
}

nav{
    color: white;
    // background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 2rem;
    padding-top: 0;
    
    .chox li{
        font-size: 0.9rem;
        padding:0.7rem;
        text-align: center;
    }
    ul.chox{
        list-style-type: none;
        display: flex;
        column-gap: 1rem;
        padding-right: 1.5rem;
    }
    ul.azz{
        list-style-type: none;
        
    }
    .chox li:hover{
        background-color: rgb(255, 102, 0);
        cursor: pointer;
        border-radius: 0.1rem;
        -webkit-border-radius: 0.1rem;
        -moz-border-radius: 0.1rem;
        -ms-border-radius: 0.1rem;
        -o-border-radius: 0.1rem;
    }
    .sidebar{
        display: none;
    }
    
}

main{
    .ul-sidebar{
        display: none;
    }
    .banner{
        display: grid;
        grid-template-areas: "one one two three""four five six six";
        grid-template-rows: 250px 250px;
        gap: 0.5rem;  
        padding: 0.5rem;
        .num{
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            align-items: end;
            
            
            p{
                // background-color: red;
                width: 100%;
                font-size: 1rem;
                font-weight: 800;
                padding: 0.5rem;
                color: white;
                background: linear-gradient(0deg , black 10% ,#ff494900 100%) 
                
                
                
            }
            
            
        }
        .one{
            background-image: url(../image/mian/mian-top/Max-Verstappen-Redbull-Austria-F1-2020-600x250.png);            
            
            
        }
        .two{
            background-image: url(../image/mian/mian-top/Charles-Leclerc-Ferrari-F1-2022-300x250.webp);
        }
        .three{
            background-image: url(../image/mian/mian-top/157901339.jpeg);
            background-position: center;
        }
        .four{
            background-image: url(../image/mian/mian-top/aston-martin-amr23-300x250.webp);
        }
        .five{
            background-image: url(../image/mian/mian-top/WRI2_00005001-050-725x500-640x480-300x250.jpg);
        }
        .six{
            background-image: url(../image/mian/mian-top/Formula-1-Drive-to-Survive-Season-5-600x250.webp);
        }
        
        
        
    }
}





.center{
    margin-top: 3rem;
    .list-center{
        display: grid;
        grid-template-columns: repeat(3,370px);
        grid-template-rows: repeat(3, auto);        
        justify-content: space-around;

        .news{
            background: linear-gradient(360deg, #383838, #0a0a0a, #2d2d2d, #2b2a2a);
            box-shadow: 0 0 10px #c5c5c5;
            width: 100%;
            // height: 1630px;
            color: rgba(255, 255, 255, 0.767);
            @include border(1rem);
            padding-bottom: 1rem;


            .newss{
                text-align: center;
                padding-top: 1rem;
                font-size: 1.5rem;
            }
            .archive{
                color: rgb(168, 168, 168);
                border-bottom: 5px solid rgb(168, 168, 168);
                padding-bottom: 1rem;
                margin-bottom: 1.5rem;
                text-align: center;

            }
            .news-img{
                img{
                    width: 100%;
                }
            }
            .australia{
                font-size: 1.5rem;
                padding: 0.5rem 1rem;
                font-weight: 900;
            }
            .author{
                // background-color: red;
                font-size: 0.7rem;
                display: flex;
                column-gap: 1.2rem;
                padding: 0.5rem 1rem;

            }
            .attention{
                padding: 0.5rem 1rem;
                font-size: 0.9rem;
                font-weight: 800;
                span{
                    font-size: 0.7rem;
                    color: rgba(255, 255, 255, 0.367);
                    a{
                        text-decoration: none;
                        color: inherit;
                    }

                }

            }



            .list-news{
                margin-top: 2rem;
                display: flex;
                flex-direction: column;
                row-gap: 3.8rem;

            }
            .item-list-news{
                display: flex;
                // background-color: red;
                // align-items: center;
                .img-ul{
                    // background-color: green;
                    padding-right: 1rem;
                    display: flex;
                    align-items: center;
                    img{
                        width: 90px;
                    }
                }
                .content-ul{
                    padding-right: 0.5rem;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;



                    p{
                        font-size: 1rem;
                        font-weight: 800;
                    }
                    div{
                        font-size: 0.6rem;
                        // background-color: red;
                        display: flex;
                        justify-content: flex-start;
                        column-gap: 1rem;

                    }
                }
            }
        }












        .analysis{
            background: linear-gradient(360deg, #f7f7f7, #f7f7f7, #d0d0d0, #f7f7f7);
            box-shadow: 0 0 10px #c5c5c5;        
            // height: 1630px;
            color: #4d4d4d;
            @include border(1rem);


            .newss{
                text-align: center;
                padding-top: 1rem;
                font-style: bold;
                font-size: 1.5rem;
            }
            .archive{
                color: rgb(168, 168, 168);
                border-bottom: 5px solid rgb(168, 168, 168);
                padding-bottom: 1rem;
                margin-bottom: 1.5rem;
                text-align: center;

            }
            .news-img{
                img{
                    width: 100%;
                }
            }
            .australia{
                font-size: 1.5rem;
                padding: 0.5rem 1rem;
                font-weight: 900;
            }
            .author{
                // background-color: red;
                font-size: 0.7rem;
                display: flex;
                column-gap: 1.2rem;
                padding: 0.5rem 1rem;
                font-weight: 700;


            }
            .attention{
                padding: 0.5rem 1rem;
                font-size: 0.9rem;
                font-weight: 800;
                span{
                    font-size: 0.7rem;
                    color: rgba(36, 33, 33, 0.567);
                   

                }

            }



            .list-news{
                margin-top: 2rem;
                display: flex;
                flex-direction: column;
                row-gap: 3.8rem;


            }

            .item-list-news{
                display: flex;
                // background-color: red;
                // align-items: center;
                .img-ul{
                    // background-color: green;
                    padding-right: 1rem;
                    display: flex;
                    align-items: center;
                    img{
                        width: 90px;
                    }
                }
                .content-ul{
                    padding-right: 0.5rem;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;



                    p{
                        font-size: 1rem;
                        font-weight: 800;
                        color:#292828 ;
                    }
                    div{
                        font-size: 0.6rem;
                        // background-color: red;
                        display: flex;
                        justify-content: flex-start;
                        column-gap: 1rem;
                        font-weight: 800;

                    }
                }
            }
        }







        
        .sign-up{
                // background: linear-gradient(360deg, #383838, #0a0a0a, #2d2d2d, #2b2a2a);
                // box-shadow: 0 0 10px #c5c5c5;
                text-align: center;
                color: white;
                // height: 1630px;

                .social-media{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    height: 150px;
                    background-color: #dbad17;
                    @include border(1rem);

                    h1{
                        color: black;
                    }

                    .icon-social-media{
                        display: flex;
                        img{
                            width: 50px;
                        }

                    }
                }



                .form-sign-up{
                    display: flex;
                    flex-direction: column;
                    margin-top: 1rem;
                    color: black;
                    margin-top: 2rem;

                    span{
                        margin: 1.5rem 0;
                        background: -webkit-linear-gradient(0deg, #2274ad 0, #00223a 100%);
                        color: white;
                        padding: 1rem;
                        @include border(0.5rem);    


                    }


                     form{
                        display: flex;
                        flex-direction: column;
                        // background-color: red;
                        label{
                            text-align: right;
                            padding: 0.5rem;
                        }
                        input{
                            padding: 0.5rem;
                            background-color: #eceaea;
                            border: none;

                        }
                     }
                }


                .ranking-list{
                    // background-color: lightblue;
                    span{
                        display: block;
                        margin: 1.5rem 0;
                        background: -webkit-linear-gradient(0deg, #2274ad 0, #00223a 100%);
                        padding: 1rem;
                        @include border(0.5rem);    
                    }
                    .ranking{
                        .list-ranking{
                            display: grid;
                            grid-template-columns: 1fr 3fr 1fr;
                            list-style-type: none;
                            // padding: 1rem;
                            color: black;
                            border-bottom:1px solid #00000047;

                        }
                        .first{
                            padding: 0.2rem;
                            background: linear-gradient(180deg, #4b4b4b 30%, #4b4b4b);
                            color: white;
                        }
                        .second{
                            :nth-child(2){
                                background-color: red;
                            }
                        }

                        .list-ranking:not(.first){
                            :first-child{
                                background: linear-gradient(45deg, #e1e2f9, #989898);
                                padding: 1rem;
                                font-weight: 700;
                                
                            }
                            :nth-child(2){
                                padding: 1rem;
                                text-transform: capitalize;
                                font-weight: 800;
                            }
                            :last-child{
                                background: linear-gradient(45deg, #e1e2f9, #989898);
                                padding: 1rem;
                                font-weight: 700;

                            }
                        }
                    }
                }
            }
        }

        .img{
            padding: 1.2rem;
            img{
                @include border(1.2rem);
            }
        }
    }



footer{
    background-color: #1b1b1b;
    color: white;

    .container-footer{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        justify-content: space-between;

        .container-footer-content{
            display: flex;
            // background-color: green;
            justify-content: space-evenly;

            .text{
                h1{
                    margin-top: 2.5rem;
                }
            }
        }

        .container-footer-list{
            padding-top: 3rem;
            ul{

                display: flex;
                list-style-type: none;
                justify-content: center;
                column-gap: 1.5rem;
                cursor: pointer;
            }
            ul li:hover{
                color: orange;
            }
        }
    }
}









